body {
    background-color: rgb(1, 1, 20);
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: center;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(22, 21, 21);
}

.title_main {
    color: white;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.title_shader {
    background-color: rgb(1, 1, 20);
}

.title_under {
    text-align: center;
    color: white;
}


