body {
    background-color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-left:0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}
  
li {
    float: center;
    border: 5px solid black;
    color: black;
}
  
li a {
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
    /*
    border-color: #000000;
    border: 5px solid;
    */
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(236, 121, 43);
}

h2 {
    padding-top: 50px;
}

.title_main {
    color: white;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    visibility: visible;
}

.pagefont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body_text {
    color: white;
    width: 600px;
    font-size: 25px;
}

.body_header {
    color: white;
    width: 600px;
    font-size: 30px;
}

b:hover {
    color: rgb(40, 136, 226);
}

.footer_text {
    padding-top: 300px;
    color: white;
}

