body {
    background-color: rgb(3, 3, 20);
}

div {
    border: 3px dotted red;
}

.title_main {
    color: white;
    padding: 100px;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.title_shader {
    background-color: rgb(22, 70, 201);
}

.directory {
    background-color: aqua;
    text-align: center;
    min-height: 100px;
    max-width: 400px;
}


