#bigtext{
    font-size: 80px; 
    color:white; 
    font-family:cursive;
    padding-top: 50px; 
    padding-bottom: 0px;
}

#smallmentions{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#bodyheaders{
    font-family:monospace; 
    color: rgb(255, 255, 255); 
    font-size: 35px;
}

#smallerheaders{
    font-family: monospace; 
    color:darkcyan; 
    font-size: 25px;
}

#text{
    color: rgb(15, 119, 62); 
    font-size: 25px; 
    font-family: monospace;
}

#subtext{
    color: rgb(43, 138, 6);
    font-size: 20px;
    font-family: monospace;
}

.split-para      { display:block;margin:10px;}
.split-para span { display:block;float:right;width:50%;margin-left:10px;}

#reasons {
    margin-left: auto;
    margin-right: auto;
    width: 87.5%;
}

#left {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
}

#right {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
}

body{
    background-color:rgb(250, 172, 4)
}

a.button2{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
    a.button2:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    }
    a.button2:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    }
    @media all and (max-width:30em){
    a.button2{
    display:block;
    margin:0.4em auto;
    }}